$background-color: #f0f0f0;
$clock-color: #fff;
$border-color: #333;
$hour-hand-color: #333;
$minute-hand-color: #555;
$second-hand-color: #e74c3c;

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: $background-color;
}

.clock {
  width: 300px;
  height: 300px;
  border: 15px solid $border-color;
  border-radius: 50%;
  background-color: $clock-color;
  position: relative;
  padding: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.clock-face {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateY(-3px); /* Fixes a small visual imbalance */
}

.hand {
  width: 50%;
  height: 6px;
  background-color: $hour-hand-color;
  position: absolute;
  top: 50%;
  transform-origin: 100%;
  transform: rotate(90deg);
  transition-timing-function: cubic-bezier(0.4, 2.3, 0.3, 1);
  transition-duration: 0.05s;
}

.hour-hand {
  height: 8px;
  background-color: $hour-hand-color;
}

.minute-hand {
  background-color: $minute-hand-color;
}

.second-hand {
  height: 2px;
  background-color: $second-hand-color;
}
